include ../partials/_input
.field
  label.label(for="displayName") Nombre 
  +input({
    field: 'displayName',
    type: 'text',
    autoFillable: true,
    value: category.displayName,
    autoFocus: true,
    placeholder: 'Ingrese el título de su categoría'
  })
.field
  label.label(for="name") Slug 
  +input({
    field: 'name',
    type: 'text',
    autoFillable: true,
    value: category.name,
    autoFocus: false,
    placeholder: 'Título para computadoras'
  })
.field
  label.label(for="description") Descripción 
  textarea.textarea(
    name="description"
    rows="5"
    id="description"
  )
    =category.description
.field 
  input.button.is-success(type="submit", value=submitText)