doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Web Masters
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="icon", href="/img/html5-16.png" type="image/png")
    link(rel='stylesheet' type='text/css' href='https://unpkg.com/trix@2.0.0/dist/trix.css')
    script(type='text/javascript' src='https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js')
  body.has-background-light
    include _nav
    if messages && messages.length
      div
        .container.my-5
          .notification.is-primary.is-light 
            button.delete 
            p= messages[0]
    if errors && errors.length
      div
        .container.my-5
          .notification.is-danger.is-light 
            button.delete 
            p= errors[0]
    #app
      block content
    footer.footer
      .content.has-text-centered 
        p Todos los derechos reservados &copy; Homer Moncayo #{ new Date().getFullYear() }
        p
          small
            a(target='_blank' href='https://icons8.com/icon/20909/html-5') Html 5
            |  icon by 
            a(target='_blank' href='https://icons8.com') Icons8
    script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="/app.js")