extends ../layouts/app.pug
block content 
	include _input
	.container.mt-5
		main.columns.is-centered
			.column.is-5
				.box 
					h1.title Iniciar Sesión
					form(action="/login" method="POST")
						.field
							label.label(for="email") Correo
							+input('email', 'email', true, '', true)
						.field
							label.label(for="password") Contraseña 
							+input('password', 'password')
						.field 
							input.button.is-success(type="submit", value="Entrar")