extends ../layouts/app.pug
block content 
	include _input
	.container.mt-5
		main.columns.is-centered
			.column.is-5
				.box 
					h1.title Registro
					form(action="/registro" method="POST")
						.field
							label.label(for="name") Nombre
							+input('name', 'text', true, '', true)
						.field
							label.label(for="lastname") Apellido 
							+input('lastname')
						.field
							label.label(for="nickname") Usuario 
							+input('nickname')
						.field
							label.label(for="email") Correo 
							+input('email', 'email')
						.field
							label.label(for="password") Contraseña 
							+input('password', 'password', false)
						.field 
							input.button.is-success(type="submit", value="Crear Cuenta")